<% include ../partials/header %>
<div class="ui grid main container datacontainer">
  <div class="row">
    <div class="twelve column wide">
      <div class="ui huge header">
        数据可视
      </div>
    </div>
  </div>
  <div class="row">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item active">全员 </a>
        <a class="item">大一 </a>
        <a class="item">大二 </a>
        <a class="item ">大三 </a>
        <a class="item">大四 </a>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
         <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>
