<% include ./partials/header %>
  <div class="ui main text container segment">
    <div class="ui huge header">
      新任务
    </div>

    <% if(success.length > 0){ %>
      <div class="ui success message">
        <i class="close icon" style='margin-top:5px;'></i>
        <%= success %>
      </div>
    <% } %>

    <% if(error.length > 0){ %>
      <div class="ui negative message">
        <i class="close icon" style='margin-top:5px;'></i>
        <%= error %>
      </div>
    <% } %>

    <form id="taskForm" class='ui form' action="/blogs" method="POST">

      <div class="ui  header">
        <h6>请先选择本次任务对应义工负责人<h6>
      </div>
      <div class="field">
      <select id="taskObjList" name="serviceObj" class="ui fluid normal dropdown">
        <option value="">对象列表</option>
        <% foundServices.forEach(function(foundService){ %>
          <option value="<%= foundService._id %>"><%= foundService.name %></option>
        <% }) %>
      </select>
      </div>

      <div class="field">
        <label>姓名</label>
        <input type="text" placeholder="输入姓名...">
      </div>

      <div class="two fields">
        <div class="field">
          <label>性别</label>
          <select>
            <option value="">性别</option>
            <option value="男">男</option>
            <option value"女">女</option>
            <option value="其他">其他</option>
          </select>
        </div>
        <div class="field">
          <label>需求人数</label>
          <input type="number" name="required_people">
        </div>
      </div>

      <div class="field">
        <label>地址</label>
        <input type="text" placeholder="输入地址...">
      </div>

      <div class="field">
        <label>联系方式</label>
        <input type="tel"  placeholder="输入联系方式...">
      </div>

      <div class="field">
        <label>义工时间</label>
        <input type="datetime-local" name="time">
      </div>

      <div class="field">
        <div class="ui styled accordion">
          <div class="active title"><i class="dropdown icon"></i>任务说明</div>
          <div class="active content">
            <textarea name="taskIntro" rows="8" cols="80" value="输入任务说明..."></textarea>
          </div>
        </div>
    </div>

      <button class="ui primary basic button">提交</button>
    </form>
  </div>
<% include ./partials/footer %>
