<% include ../partials/header %>
<div class="ui main  container segment downContainer">
  <div class="ui huge header">
    服务对象
  </div>
  <table class="ui selectable striped table">
    <thead>
      <tr>
        <th>ID</th>
        <th>名字</th>
        <th>年龄</th>
        <th>地址</th>
        <th>编辑</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td><a href="/service/1"><strong>Name1</strong></a></td>
        <td>68</td>
        <td>Adress1</td>
        <th ><i class="write icon"></i></th>
        <th><i class="remove user icon"></i></th>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="/service/1"><strong>Name1</strong></a></td>
        <td>71</td>
        <td>Adress2</td>
        <th><i class="write icon"></i></th>
        <th><i class="remove user icon"></i></th>
      </tr>
      <tr>
        <td>3</td>
        <td><a href="/service/1"><strong>Name1</strong></a></td>
        <td>65</td>
        <td>Adress3</td>
        <th><i class="write icon"></i></th>
        <th><i class="remove user icon"></i></th>
      </tr>
      <tr>
        <td>4</td>
        <td><a href="/service/1"><strong>Name1</strong></a></td>
        <td>65</td>
        <td>Adress4</td>
        <th><i class="write icon"></i></th>
        <th><i class="remove user icon"></i></th>
      </tr>
      <tr>
        <td>5</td>
        <td><a href="/service/1"><strong>Name1</strong></a></td>
        <td>65</td>
        <td>Adress5</td>
        <th><i class="write icon"></i></th>
        <th><i class="remove user icon"></i></th>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="2">
          <a href="/service/new"  class="ui primary basic large button" >添加新服务对象</a>
        </th>
        <th colspan="4">
        <div class="ui right floated pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </th>
    </tr>
  </tfoot>
  </table>
</div>
<% include ../partials/footer %>
