<% include ../partials/header %>
<div class="ui grid container adjustcontainer">
  <div class="row">
  <div class="five wide column">
    <div class="ui huge header">Service Person Info</div>

  <div class="card">
   <div class="ui responsive image">
     <img src="http://www.semantic-ui.cn/images/avatar2/large/matthew.png">
   </div>
   <div class="content" style="padding:10px 15px;">
     <div class="ui header">Matt Giampietro</div>
   </div>
   <div class="extra content" style="padding:10px 15px;">
     <span class="right floated">2013年加入 </span>
     <span><i class="user icon"></i> 75 Friends </span>
   </div>
 </div>
  <h3 style="margin-top:10px;">Map</h3>
 <div id="map"></div>
 </div>
   <div class="eleven wide column" style="margin-top:45px;">
     <div class="ui main text segment">
     <form class='ui form' action="/login" method="POST">
       <div class="field">
         <label>Intro</label>
         <textarea name='adress' rows="8" cols="80">Enter introduction...</textarea>
       </div>
       <div class="field">
         <div class="two fields">
           <div class="field">
             <label>Age</label>
             <input type="number" name="age" placeholder="Enter your age">
           </div>
           <div class="field">
             <label>Student No.</label>
             <input type="text" name="studentNumber" placeholder="Enter your student number">
           </div>
         </div>
       </div>
       <div class="field">
         <select>
           <option value="">专业</option>
           <option value="1">计算机类</option>
           <option value="2">机械类</option>
           <option value="3">金融类</option>
           <option value="4">语言类</option>
           <option value="5">化学类</option>
           <option value="6">物理类</option>
         </select>
       </div>
       <div class="field">
         <div class="inline fields">
           <label for="fruit">Grade</label>
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
               <label>大一</label>
             </div>
           </div>
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="fruit" tabindex="0" class="hidden">
               <label>大二</label>
             </div>
           </div>
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="fruit" tabindex="0" class="hidden">
               <label>大三</label>
             </div>
           </div>
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="fruit" tabindex="0" class="hidden">
               <label>大四</label>
             </div>
           </div>
         </div>
       </div>
       <div class="field">
         <div class="inline fields">
           <label for="fruit">Gender</label>
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
               <label>Male</label>
             </div>
           </div>
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="fruit" tabindex="0" class="hidden">
               <label>Female</label>
             </div>
           </div>
           <div class="field">
             <div class="ui radio checkbox">
               <input type="radio" name="fruit" tabindex="0" class="hidden">
               <label>Other</label>
             </div>
           </div>
         </div>
       </div>
       <div class="field">
         <label>Phone Number</label>
         <input type='text' name='phone' placeholder='Enter phone numbber...' />
       </div>
       <div class="field">
         <label>Address</label>
         <input type="text" name='adress' placeholder="Enter adress..." >
       </div>
       <button class="ui primary basic button">Upload</button>
     </form>
  </div>
  </div>
</div>









<% include ../partials/footer %>
