<% include ../partials/header %>
  <div class="ui main text container segment">
    <div class="ui huge header">
      新报告
    </div>
    <div class="ui  header">
      <h5>提示: 你可以选择一个服务对象加速报告信息填写<h5>
    </div>
    <select name="Service List" class="ui fluid normal dropdown">
      <option value="">对象列表</option>
      <option value="angular">Name1--</option>
      <option value="css">--Name2</option>
      <option value="design">Name3--</option>
      <option value="ember">--Name4</option>
      <option value="html">Name5--</option>
      <option value="ia">--Name6</option>
      <option value="javascript">Name7--</option>
    </select>
    <form class='ui form' action="/reports" method="POST">
      <div class="field">
        <label>Title</label>
        <input type="text" name="report[title]" placeholder="title">
      </div>

      <div class="field">
        <label>Image</label>
        <input type="text" name="report[image]" placeholder="image">
      </div>

      <div class="field">
        <label>Blog Content</label>
        <textarea id="TextArea1" cols="20" rows="2" class="ckeditor" name="report[body]"></textarea>
      </div>

      <button class="ui primary basic button">提交</button>
    </form>
  </div>
<% include ../partials/footer %>
