<% include ../partials/header %>
  <div class="ui main text container segment">
    <div class="ui huge header">
      新报告
    </div>

    <form class='ui form' action="/reports" method="POST">
      <div class="ui  header">
        <h6>请先选择本次报告对应义工负责人<h6>
      </div>
      <div class="field">
      <select name="serviceObj" class="ui fluid normal dropdown">
        <option value="">对象列表</option>
        <% foundServices.forEach(function(foundService){ %>
          <option value="<%= foundService._id %>"><%= foundService.name %></option>
        <% }) %>
      </select>
      </div>
      <div class="field">
        <div class="ui styled accordion">
          <div class="active title"><i class="dropdown icon"></i>工作内容</div>
          <div class="active content">
            <textarea name="report[content][workContent]" rows="8" cols="80" value="输入工作内容..."></textarea>
          </div>

          <div class="title"><i class="dropdown icon"></i>问题</div>
          <div class="content">
            <textarea name="report[content][questionFeedback]" rows="8" cols="80" value="输入问题..."></textarea>
          </div>

          <div class="title"><i class="dropdown icon"></i>解决途径</div>
          <div class="content">
            <textarea name="report[content][solution]" rows="8" cols="80" value="输入解决途径..."></textarea>
          </div>

          <div class="title"><i class="dropdown icon"></i>感想</div>
          <div class="content">
            <textarea name="report[content][feeling]" rows="8" cols="80" value="输入感想..."></textarea>
          </div>

          <div class="title"><i class="dropdown icon"></i>反馈</div>
          <div class="content">
            <textarea name="report[content][feedback]" rows="8" cols="80" value="输入反馈..."></textarea>
          </div>
        </div>
      </div>

      <button class="ui primary basic button">提交</button>
    </form>
  </div>
<% include ../partials/footer %>
