<% include ../partials/header %>
<div class="ui  grid container adjustcontainer">
        <div class="row">
        <div class="five wide column" >
          <div class="ui huge header">用户信息</div>
          <div class="card" >
             <div class="ui responsive image">
              <img id='profile' src="<%= user.userProfile.avatar %>">
            </div>
            <div class="content" style="padding:10px 15px;">
              <div class="ui header"><%= user.username %></div>

              <div class="extra content">
                <span style="float:left">2013年加入</span>
                <span style="float:right"><%= user.email %></span>
                <div style="clear:both"></div>
              </div>

              <div style="clear:both;margin-top:10px">
                <form action="/users/<%= user._id %>/profileImage" method="POST" enctype="multipart/form-data">
                  <span class="ui fluid button btn-file">
                    <span id="buttonLabel">上传新头像</span> <input type="file" name="myAvatar">
                  </span>
                  <button type="submit" style="margin-top:8px;" class="fluid ui primary basic button">提交</button>
                </form>
              </div>

              <div class="description">
                <a class="fluid ui primary basic button" href="/email">申请成为管理员</a>
              </div>

            </div>

          </div>
        </div>
        <div class="eleven wide column">
          <div class="ui  huge header">
            编辑信息
          </div>
          <div class="ui main text segment">
          <form class='ui form' action="/login" method="POST">
            <div class="field">
              <label>个人简介</label>
              <textarea name='adress' rows="8" cols="80">输入个人简介...</textarea>
            </div>
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <label>年龄</label>
                  <input type="number" name="age" placeholder="输入你的年龄">
                </div>
                <div class="field">
                  <label>学号</label>
                  <input type="text" name="studentNumber" placeholder="输入你的学号">
                </div>
              </div>
            </div>
            <div class="field">
              <select>
                <option value="">专业</option>
                <option value="1">计算机类</option>
                <option value="2">机械类</option>
                <option value="3">金融类</option>
                <option value="4">语言类</option>
                <option value="5">化学类</option>
                <option value="6">物理类</option>
              </select>
            </div>

            <div class="field">
              <select>
                <option value="">年级</option>
                <option value="one">大一</option>
                <option value="two">大二</option>
                <option value="three">大三</option>
                <option value="four">大四</option>
                <option value="other">其他</option>
              </select>
            </div>

              <div class="field">
                <select>
                  <option value="">性别</option>
                  <option value="male">男</option>
                  <option value="female">女</option>
                  <option value="other">其他</option>
                </select>
              </div>

            <div class="field">
              <label>联系方式</label>
              <input type='text' name='phone' placeholder='手机号/电话' />
            </div>
            <div class="field">
              <label>地址</label>
              <input type="text" name='adress' placeholder="地址" >
            </div>
            <button class="ui primary basic button">保存</button>
          </form>
        </div>
        </div>
      </div>
      </div>
<% include ../partials/footer %>
