<% include ../partials/header %>
<div class="ui main text container segment">
  <div class="ui items">
    <div class="item">
        <div class="image">
          <img src="https://images.unsplash.com/photo-1499615767948-e6a89ef6060f?w=750&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        </div>
        <div class="content">
          <a class="header"><%= user.username %></a>
          <div class="meta">
            <span><%= user.email %></span>
          </div>
          <div class="description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima recusandae cupiditate incidunt, ea sequi, eos vitae delectus. Sit aperiam maxime veniam accusantium atque debitis obcaecati? Perferendis tempora in, deserunt earum.</p>
          </div>
          <div class="extra">
            Additional Details
          </div>
          <a href="#" class="ui primary basic button">Edit</a>
        </div>
      </div>
  </div>
</div>
<% include ../partials/footer %>
