<% include ../partials/header %>
<div class="ui main text container segment downContainer">
  <% if(error.length > 0){ %>
    <div class="ui negative message">
      <i class="close icon" style='margin-top:5px;'></i>
      <%= error %>
    </div>
  <% } %>
  <div class="ui huge header">
    注册
  </div>
  <form class='ui form' action="/signup" method="POST">
    <div class="field">
      <label>用户名</label>
      <input type="text" name='username' placeholder="输入用户名..." required>
    </div>

    <div class="field">
      <label>邮箱</label>
      <input type="email" name='email' placeholder="example@example.com" required>
    </div>

    <div class="field">
      <label>密码</label>
      <input type="password" name='password' placeholder="输入密码..." required>
    </div>

    <div class="field">
      <label>确认密码</label>
      <input type="password" name='passwordConfirm' placeholder="再次输入密码..." required>
    </div>

    <button class="ui primary basic button">注册</button>
  </form>
</div>



<% include ../partials/footer %>
